/* Custom Fonts */

@font-face {
    font-family: SofiaSans;
    src: url("./fonts/SofiaSansCondensed-VariableFont_wght.ttf");
}

@font-face {
    font-family: InstrumentSans;
    src: url("./fonts/InstrumentSans.ttf");
}

@font-face {
    font-family: TiroDevanagariSanskrit;
    src: url("./fonts/TiroDevanagariSanskrit-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: TiroDevanagariSanskrit;
    src: url("./fonts/TiroDevanagariSanskrit-Regular.ttf");
    font-style: normal;
}

@font-face {
    font-family: SeaweedScript;
    src: url("./fonts/SeaweedScript-Regular.ttf");
}

@font-face {
    font-family: SofiaSansExtraCondensed;
    src: url("./fonts/SofiaSansExtraCondensed-VariableFont_wght.ttf ");
}

@font-face {
    font-family: InriaSans;
    src: url("./fonts/InriaSans-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: InriaSans;
    src: url("./fonts/InriaSans-BoldItalic.ttf");
    font-style: italic;
    font-weight: bold;
}


h1 {
    font-family: SofiaSans;
    font-size: 30px;
    font-weight: 500;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    font-family: InstrumentSans;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px 0 20px;
}

#welcome-text {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF2C4;
    width: 100%;
    height: 100px;
    font-family: SeaweedScript;
    font-size: 50px;
    font-weight: lighter;
}

h1:hover,
nav:hover {
    cursor: pointer;
}

h3 {
    text-decoration: underline;
    font-family: TiroDevanagariSanskrit;
    font-style: normal;
    font-size: 30px;
}

#about-me-text {
    font-family: InstrumentSans;
    font-size: 18px;
    max-width: 400px;
}

#introduction-text {
    font-family: TiroDevanagariSanskrit;
    font-size: 20px;
    margin-bottom: -20px;
}

#my-picture {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 2px solid black;
    object-fit: cover;
    object-position: center;
}

#my-info {
    display: flex;
    gap: 8%;
    justify-content: center;
    margin-top: 100px;
}

#intro-text-section {
    text-align: center;
}

#buttons-section {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}

button {
    font-size: 18px;
    font-family: InstrumentSans;
    font-weight: 500;
    padding: 10px;
    background-color: #FFF2C4;
    border: 1px solid black;
    border-radius: 5px;
    transition: transform 0.2s ease-in-out;
}

button:hover {
    cursor: pointer;
    transform: scale(1.09);
}

#get-started-text {
    font-family: InstrumentSans;
    font-size: 18px;
    margin-top: 12%;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 18%;
    text-align: center;
}

#projects-intro-text {
    font-family: InstrumentSans;
    font-size: 18px;
    text-align: center;
}

#section-header-container {
    display: inline-flex;
    align-items: center;
    gap: 15px;
}

#section-header-text {
    text-align: center;
    font-family: TiroDevanagariSanskrit;
    font-style: italic;
    font-weight: 500;
    font-size: 35px;
}

.parent-container {
    text-align: center;
}

#project1-text {
    font-size: 48px;
    font-family: SofiaSansExtraCondensed;
    font-weight: 400;
}

#project-title {
    display: flex;
    margin: 100px 30px 0 30px;
}

/* add horizontal line after project title */
#project-title::after {
    content: "";
    flex: 1;
    border-bottom: 2px solid black;
    align-items: center;
    margin-bottom: 25px;
    margin-left: 15px;
}

#project-description {
    text-align: left;
    font-family: InriaSans;
    font-style: italic;
    font-size: 20px;
    max-width: 500px;
}

.square {
    background-color: gray;
    max-width: 100px;
}