/* Custom Fonts */

@font-face {
    font-family: SofiaSans;
    src: url("./fonts/SofiaSansCondensed-VariableFont_wght.ttf");
}

@font-face {
    font-family: InstrumentSans;
    src: url("./fonts/InstrumentSans.ttf");
}

@font-face {
    font-family: TiroDevanagariSanskrit;
    src: url("./fonts/TiroDevanagariSanskrit-Regular.ttf");
}

h1 {
    font-family: SofiaSans;
    font-size: 30px;
    font-weight: 500;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    font-family: InstrumentSans;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px 0 20px;
}

h2 {
    text-decoration: underline;
    font-family: TiroDevanagariSanskrit;
}

p {
    font-family: InstrumentSans;
}